.project-button {
    display: flex;
    border-radius: 5px;
    padding: 10px;

    &:hover {
        background-color: rgba(0,0,0,0.05);
        cursor: pointer;
    }

    .project-info {
        display: flex;
        flex-direction: column;

        .project-name {
            font-size: large;
            font-weight: 600;
        }
    }
}